*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Starter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.Starter_vedio{
    display: none;
}
#sh{
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    font-size: 4rem;
}
.Stater_header{
    font-family: 'Poppins,Roboto', sans-serif;
    margin-bottom: 22px;
    font-size: 4rem;
    font-weight: 700;
    font-family: sans-serif;
    /* text-align: center; */
}
.Starter_text p{
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
#text{
    color: #B9B9B9;
}

.Starter_images img{
    width: 100%;
    height: 100%;
}

.Starter_navigator{
    display: flex;
    margin-top: 33px;
}
.Starter_navigator button{
    border: none;
    outline: none;
    width: 210px;
    padding: 10px 17px;
    /* margin: 7px; */
}
.Mint_btn{
    background: rgb(243, 94, 176);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Starter_navigator button:hover{
    opacity: 0.6;
}
.Starter_navigator button img{
    height: 32px;
    width: 35px;
    border-radius: 50%;
    background: cyan;
}
.Starter_navigator button h4{
    font-weight: 900;
    margin-top: 11px;
    font-size: 1rem;
}

.mint_stat{
    margin-left: 44px;
    display: flex;
    align-items: center;
    background: purple;
} 
.mint_stat img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid rgb(243, 94, 176);
    padding: 2px;
}
.mint_stat p{
    margin: auto;
    margin-left: 11px;
    font-size: 0.7rem;
    font-family: sans-serif;
    color: #B9B9B9;
}
.mint_stat:hover{
    opacity: 0.6;
}
.Starter_image{
    height: 30px;
    width: 30px;
    border: 3px solid cyan;
    border-radius: 50%;
    margin-right: 11px;
}

@media screen and (max-width: 1000px) {
    .Starter_images{
        display: none;
    }
    .Starter_vedio{
        display: block;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Starter_vedio img{
        width: 96%;
    }
    .Starter{
        display: flex;
        flex-direction: column;
    }
    .Stater_header{
        font-size: 3rem;
        margin-bottom: 15px;
        margin-top: 60px;
        
    }
    .Starter_navigator button{
        border: none;
        outline: none;
        width: 190px;
        padding: 3px 12px;
    }
    .Starter_navigator{
        display: flex;
        justify-content: space-between;
    }
    .Starter_text{
        padding: 0;
        width: 94%;
    }
    .mint_stat p{
        margin-left: 9px;
    }
}