@import '~antd/dist/antd.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
  height: 100%;
  background: hsl(0, 0%, 9%);
  overflow: hidden;
  z-index: -1;
}
.navbar{
  background: linear-gradient(to right, #F6BED9, rgb(87, 64, 67));
}
.navbar img, svg{
  margin-left: 12px;
}
.NavList{
  margin: auto;
  width: 50%;
}
.navbar-brand{
  margin: 0;
  padding: 0;
}
.navbar a{
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
}

.connect{
  top: 27px;
  background: gray;
  font-weight: bold;
  padding: 11px 19px;
  margin-right: 22px;
}
.connect:hover{
  opacity: 0.7;
}
@media screen and (max-width: 574px){
  .connect{
    position: absolute;
    left: 50%;
  }
  .NavList{
    margin: auto;
    width: 10%;
  }
  .navbar a{
    text-align: center;
  }
  .navbar img, svg{
    margin: 0px;
    padding: 0;
  }
}

.Footer_social{
  display: flex;
  justify-content: center;
}
.Footer_social img{
  cursor: pointer;
  height: 40px;
  margin: 16px;
}
.Footer_social img:hover{
  opacity: 0.6;
}

.Footer{
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 820px) {
  .Footer{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}